{% extends "base.html" %}
{% block content %}
<div class="overlay-page">
  <div class="auth-box">
    <div class="calendar-icon small">🏢</div>
    <h2>Вступить в команду</h2>
    <form class="auth-form" method="POST" action="{{ url_for('team_join') }}">
      <label>Название команды</label>
      <input type="text" name="team_name" placeholder="Например, MyTeam">

      <label>Персональный код</label>
      <input type="text" name="code" placeholder="Код от руководителя">

      <button type="submit" class="btn-main full">Вступить</button>
    </form>
  </div>
</div>
{% endblock %}
